@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0  
}
body {
  background: url('Study-Abroad1.jpg');
  color: #B1B1B1;
  margin: 15px auto 0;
  width: 410px;
}
#details {
  overflow: auto;
}
#details #form {
  width:auto;
  float:left;
  backdrop-filter: blur(5px);
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}
#details #form h2 {
  font: 48px 'Bree Serif', Georgia, serif;
}
h1{
    display: block;
    font: 25px'Bree Serif', Georgia, serif;
    color: white;
    border: 3px solid peru;
    background-color: orangered;
    padding: 5px 5px 5px 60px;
    margin: 8px 8px 50px 8px;
    border-radius: 8px;
}
#details #form span {
  display:block;
  float:left;
  width:100px;
  padding-top:5px;
  font: 15px'Bree Serif', Georgia, serif;
  color: black;
}
#details #form input {
  float:left;
  width:255px;
  border:2px solid black;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 8px 8px 8px 8px;
  color:gray;
  font: 15px'Open Sans', Verdana, Helvetica, sans-serif;
  margin-bottom:10px;
}

#details #form input.submit {
  cursor: pointer;
  width:85px;
  height:40px;
  float:right;
  border: 2px solid peru;
  border-radius: 5px;
  padding:0px 0px 5px 0px;
  margin:10px 16px 0px 0px;
  background:orangered;
  color:white;
  font: 20px'Bree Serif', Georgia, serif;
}

